
  .image-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    gap: 15px;
    width: 98%;
    margin: 0;
    padding: 0;
  /*   object-fit: contain; */
    /* border: 4px solid red; */
  }
  .title{
    width: 90%;
    height: 200px;
    padding: 50px;
    /* border: 4px solid red; */
    text-align: center;
  }
  .main-image-container {
    width: 400px;
    height: 400px;
    padding: 0;
    border-radius: 8px;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    justify-content: center ;
    align-items: center;
    gap: 10px; 
    position: relative ;
  }
 .buttonLeft {
  position: absolute;
  z-index: 2;
  left: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
 }
 .buttonRight {
  position: absolute;
  z-index: 2;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
 }
  
  .main-image {
    width: 400px;
    height: 400px;
    padding: 0;
    margin: 0;
    transition: transform 0.3s ease;
    border-radius: 20px;
    z-index: 1;
  }
  
  .main-image:hover {
    transform: scale(1.02);
  }
  
  .thumbnail-container {
    display: flex;
    gap: 10px;
    padding: 10px 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0%;
    z-index: 2;
  }
  
  .thumbnail-selected { 
    width: 80px;
    height: 80px;
    cursor: pointer;
    overflow: hidden;
    display: none;
  }
  .thumbnail-selected img {
    width: 80px;
    height: 80px;
    cursor: pointer;
    overflow: hidden;
    display: none;

  }

  .thumbnail-dots{
    display: flex;
    flex-direction: row;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #000;
  }
  .thumbnail-dots-selected{
    display: flex;
    flex-direction: row;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ffffff;
  }
  
  .thumbnail  {
    border : 3px solid rgb(65, 140, 11);
    width: 80px;
    height: 80px;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
    flex-shrink: 0;
    display: none;  

  }
  .thumbnail img {
    width: 80px;
    height: 80px;
    display: none;
  }
  
  .thumbnail:hover {
    border-color: #ccc;
  }
  
  .thumbanil active {
    border-color: #007bff;
    width: 80px;
    height: 80px;
  }
  .info{
    text-align: center;
    width: 90%;
    padding: 50px;
  
  }
  
