.hero{
    margin-top: 69px;
    background-image: url("./imagencita.jpg");
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-position: 0px -380px;
    /* background-size: 10% 0 */;
    background-size: cover;
/*     filter: blur(-100px); */
    justify-content: center;
}
.hero-container{
    padding: 20px;
    display: flex;
    text-wrap: wrap;
    width: 60%;
}
.col{
    padding: 13px;
}
.text{
    margin-top: 80px;
    color:white;; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 100%;
    font-weight: 10;
}
@media (max-width: 728px) {
    .hero{
        display: none;
    }
    
}