.home-container{
    background-color: #373844;
   position: relative;
    width: 100%;
/*    align-items: center; */
    height: 100vh;
    display: block;
    margin: 0%;
    padding: 0%;
}


@media screen and (max-width: 768px){
    .home-container{
        scroll-behavior: initial;
    background-color: #373844;
   position: relative;
    width: 100%;
    display: block;
    margin: 0%;
    padding: 0%;
    overscroll-behavior: none;
    
    
}
}