.product-item {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 12px;
}

.product-card {
  display: block;
  position: relative;
  width: 100%;
  min-height: 60px; /* Altura mínima de respaldo */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
}

.product-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

/* Efecto overlay */
.product-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  padding: 20px;
  transform: translateY(100%);
  transition: transform 0.3s ease;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.product-card:hover .product-overlay {
  transform: translateY(0);
}

/* Estilos para el título */
.product-title {
  font-family: "roboto", sans-serif;
  color: white;
  font-size: 1.5rem;
  margin: 0;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.8);
  opacity: 0;
  transition: opacity 0.3s ease 0.1s;
  transform: translateY(20px);
  transition: all 0.3s ease 0.1s;
}

.product-card:hover .product-title {
  opacity: 1;
  transform: translateY(0);
}

/* Responsive */
@media (max-width: 768px) {
  .product-card {
    height: 200px;
  }
  
  .product-title {
    font-size: 1.2rem;
  }
}