/* ProductList.css */
:root {
  --max: 18rem
  }
  
/* Estilos para el contenedor principal */
.products-container {
    padding: 16px; /* Padding alrededor del contenedor */
  }
  
  /* Estilos para la lista de productos */
  .products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* Columnas dinámicas */
    gap: 16px; /* Espacio entre productos */
    list-style: none; /* Quita los estilos de lista */
    margin: 0; /* Elimina el margen predeterminado */
    padding: 0; /* Elimina el padding predeterminado */
  }
  .products li {
    background-color: #6fa1d6;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .products img{
    width: 100%;
    max-width: var(--max);
    height: calc(var(--max));
    object-fit: cover;
    padding: 50px;
  }