
:root {
  overscroll-behavior: none;
}
html {
  overflow-y: scroll;
}
body{
  font-family: "roboto", sans-serif;
  background-color: #40414C;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  align-items: center;
  overscroll-behavior: none;
} 